.wrapper {
  width: 600px;
  border: 2px solid #313131;
}

.wrapper-title {
  border-bottom: 2px solid #313131;
  background-color: #817f7f;
}

.wrapper-item {
  padding-left: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 3px 0;
}

.wrapper-item__child {
  padding-left: 10px;
}

[class^=wrapper-item__parrent] {
  padding: 2px 0px 2px 5px;
}

.wrapper-item__parrent {
  display: flex;
}

.wrapper-diagnose {
  width: 60px;
  height: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.wrapper-diagnose__severity0 {
  margin: 2px;
  background: yellow;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.wrapper-diagnose__severity1 {
  margin: 2px;
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}